<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.eveb.saasops.modules.operate.dao.TGmGameMapper">
    <select id="queryCatList" resultType="com.eveb.saasops.modules.operate.entity.TGmCat">
		select 
			cat.id id,
			cat.catName catName,
			count(gm.id) gameCount,
			SUM(gm.monthPer) tMonthPer,
			SUM(gm.lastdayPer) tLastDayPer
		from 
			t_gm_game gm,
			t_gm_cat cat,
			t_gm_depot depot
		<include refid="queryCat"/> 
		GROUP BY gm.catId
	</select>
	
	<sql id="queryCat">
		<where>
			cat.id = gm.catId 
			AND 
			depot.id = gm.depotId 
			<if test="id!=null">
				AND depot.id = #{id}
			</if>
			<if test="available!=null">
				AND depot.available=#{available}
			</if>
		</where>
	</sql>
	
</mapper>